@font-face {
    font-family: 'forolight';
    src: url('fonts/ForoLig-webfont.eot');
    src: url('fonts/ForoLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ForoLig-webfont.woff2') format('woff2'),
         url('fonts/ForoLig-webfont.woff') format('woff'),
         url('fonts/ForoLig-webfont.ttf') format('truetype'),
         url('fonts/ForoLig-webfont.svg#forolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#f1f1f1;
	margin:0;
	padding:0;
	font-family:'forolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
	border:0;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#35617b;
	font-size:28px;
	margin:36px 7px;
	text-transform:uppercase;
}
.header{
	background-color:#fff;
	width:100%;
	min-width:1014px;
	height:100px;
}
/*.header{
	width:1028px;
	margin:0 auto;
	padding:0 14px;
	overflow: auto;
}*/
.b2_logo{
	background-image:url(images/b2_logo.png);
	background-size: 49px 77px;
	width: 49px;
	height: 77px;
	margin: 12px 0 0;
	float:left;
}
.header ul{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#acacac;
	font-size:14px;
	margin:75px 0 0;
	padding:0;
	text-transform:uppercase;
	float:right;
}
.header ul li{
	margin:0 0 0 35px;
	display:inline;
}
.header ul li:first-child{
	margin:0;
}
.header ul li a{
	color:#35617b;
	text-decoration:none;
}
.header ul li span a{
	color:#acacac;
}
.wrapper{
	width:1014px;
	margin:0 auto;
	padding:0;
}
.content .wrapper{
  padding-left: 7px;
  width:1007px;
}
.header .wrapper, .footer .wrapper{
  width:1000px;
}
.clear{
	clear:both;
}
.nav_thumb{
  background-size: 324px 324px;
	width:324px;
	height:324px;
	float:left;
	margin:0 7px 14px;
  position:relative;
}
#thumb1 .nav_thumb{
  background-image:url(images/thumb_mma.jpg);
}
#thumb2 .nav_thumb{
  background-image:url(images/thumb_mobile101.jpg);
}
#thumb3 .nav_thumb{
  background-image:url(images/thumb_thirddegree.jpg);
}
#thumb4 .nav_thumb{
  background-image:url(images/thumb_christina.jpg);
}
#thumb5 .nav_thumb{
  background-image:url(images/thumb_geopolis.jpg);
}
#thumb6 .nav_thumb{
  background-image:url(images/thumb_puttaroo.jpg);
}
.photo #thumb1 .nav_thumb{
  background-image:url(images/thumb_pic_engage.jpg);
}
.photo #thumb2 .nav_thumb{
  background-image:url(images/thumb_pic_live.jpg);
}
.photo #thumb3 .nav_thumb{
  background-image:url(images/thumb_pic_product.jpg);
}
.photo #thumb4 .nav_thumb{
  background-image:url(images/thumb_pic_old_dogs.jpg);
}
.photo #thumb5 .nav_thumb{
  background-image:url(images/thumb_pic_life_of_coupon.jpg);
}
#profile .profile_pic{
  background-image:url(images/profile.jpg);
  background-size: 150px 150px;
	width:150px;
	height:150px;
	margin:0 auto 30px;
  position:relative;
  border-radius:75px;
}
#profile{
  width:100%;
}
#profile_copy p{
  float:left;
  margin:0 7px 14px;
}
.mobile_gradient{
  width:100%;
  height:100%;
}
.nav_thumb .icon_container{
  display:none;
}
.nav_thumb:hover .icon_container, .nav_thumb:active .icon_container{
	background-color:rgba(53,97,123,.6);
	width:100%;
	animation:icon_appear 1s;
  -moz-animation:icon_appear 1s; /* Firefox */
  -webkit-animation:icon_appear 1s; /* Safari and Chrome */
  -o-animation:icon_appear 1s; /* Opera */
	animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
  text-align: center;
  overflow:auto;
  display:block;
}
.nav_thumb:hover .icon_container .icon, .nav_thumb:active .icon_container .icon{
	background-repeat:no-repeat;
  background-size:35px 35px;
  width:35px;
  height:35px;
  margin:0 10px;
  display: inline-block;
}
.icon_photo{
    background-image:url(images/icon_photo.png);
}
.icon_video{
    background-image:url(images/icon_video.png);
}
.icon_design{
    background-image:url(images/icon_design.png);
}
.icon_print{
    background-image:url(images/icon_print.png);
}
.icon_mobile{
    background-image:url(images/icon_mobile.png);
}
.icon_web{
    background-image:url(images/icon_web.png);
}
.icon_text{
  color:#fff;
  font-size: 12px;
  text-shadow: 0 0 5px #35617b;
  font-style: italic;
  text-decoration: none;
}
.content{
	background-color:#7e98a6;
	width:100%;
  min-width: 1014px;
	color:#fff;
	font-size:28px;
  overflow: hidden;
}
#content1, #content2, #content3, #content4, #content5, #content6 {
	padding-top:25px;
}
.desc{
	float:left;
	width:314px;
	margin:15px 24px 31px 0;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	color:#35617b;
	font-size:28px;
	margin:-5px 0 5px;
	text-transform:uppercase;
}
.desc p{
	font-size:14px;
	color:#333333;
}
.runtime, .desc .tags{
  font-style: italic;
  font-size:11px;
  color:#333333;
}
.tags:before{
  content: "";
  display: inline-block;
  background-image: url(images/tag.png);
  background-size: 17px 12px;
  background-position: top left;
  background-repeat: no-repeat;
  width:17px;
  height:12px;
  margin-right:7px;
  vertical-align: middle;
}
.showcase{
	float:right;
	width:662px;
	margin:15px 7px 30px 0;
  position:relative;
  /*overflow:auto;*/
}
#next, #prev{
  position:absolute;
  top:360px;
  width:35px;
  height:35px;
  background-size:35px 35px;
  opacity: .5;
  cursor: pointer;
}
#next{
  background-image: url(images/icon_rarrow.png);
  right:50px;
}
#prev{
  background-image: url(images/icon_larrow.png);
  left:50px;
}
#next:hover, #next:active, #prev:hover, #prev:active{
  opacity:1;
}
.placeholder{
	width:662px;
	background-color:#eee;
	margin:0 auto;
	height:450px;
}
.showcase img{
  width:662px;
  margin:0 auto 20px;
  box-shadow: 0 0 10px #4E6876;
}
.showcase .cards img{
  width:321px;
  float:left;
  margin:0 20px 20px 0;
}
.showcase .cards img:nth-child(2) {
  margin-right: 0;
}
.showcase .cards{
  clear:both;
}
.site{
  border-radius: 4px 2px;
}
.video{
  width:662px;
  height:372px;
  box-shadow: 0 0 10px #4E6876;
}
.phone_bg img{
  width:320px;
  height:568px;
  top:92px!important;
  left:25px!important;
  box-shadow: none;
  margin:0;
}
.phone_bg{
  width:320px;
  height:569px;
  padding:92px 25px;
  margin:0 auto;
  background-image: url(images/phone_bg.png);
  background-size: 370px 753px;
  background-repeat: no-repeat;
}
.dots{
  text-align: center;
}
.dots span{
  opacity: .15;
  margin:0 5px;
  font-size:50px;
  cursor: pointer;
}
.dots .cycle-pager-active{
  opacity:1;
  color:#35617b;
}
.footer{
  /*background-color: #35617b;*/
  width:100%;
  min-width: 1014px;
  overflow:auto;
}
.form_container{
  width:386px;
  float:right;
}
label{
  color:#000;
  font-size:12px;
  display:block;
  margin:25px 0 5px;
}
input[type=text]{
  background-color: #557a8c;
  border:none;
  width:376px;
  height:33px;
  padding:5px;
  border-radius:3px;
  display:block;
  font-size:16px;
  font-family:'forolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.name_input{
  float:left;
}
.name_input input[type=text]{
  width:176px;
}
.right14{
  margin-right:14px;
}
.name_input p{
  color:#000;
  font-size:10px;
  margin:5px 0 0;
  opacity: .7;
}
input:focus, textarea:focus{
  outline:none;
}
textarea{
  background-color: #557a8c;
  border:none;
  width:376px;
  max-width:376px;
  height:200px;
  padding:5px;
  border-radius:3px;
  display:block;
  margin-bottom: 25px;
  font-size:16px;
  font-family:'forolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.send_btn{
  background-color: #557a8c;
  border:1px solid #557a8c;
  border-radius: 3px;
  padding:10px 25px;
  color:#fbd99e;
  text-transform: uppercase;
  font-family:'forolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  margin:25px 0 5px;
}
.copyright{
	text-align:center;
	color:#000;
	font-size:12px;
}
.desktop{
  display:block;
}
.mobile, .mobile_thumbs, .tablet_mobile{
  display: none;
}
@keyframes icon_appear{
  0%{
		opacity:0;
    padding-top:0;
    height:324px;
	}
	100%{
		opacity:1;
    padding-top:130px;
    height:194px;
	}
}
@-webkit-keyframes icon_appear{
  0%{
		opacity:0;
    padding-top:0;
    height:324px;
	}
	100%{
		opacity:1;
    padding-top:130px;
    height:194px;
	}
}

@media only screen and (max-width: 1050px) and (min-width: 768px){
  .header{
  	min-width:768px;
  }
  .header ul li{
  	margin:0 0 0 35px;
  }
  .wrapper{
  	width:676px;
  }
  .content{
    min-width: 768px;
  }
  .content .wrapper{
    padding:0 7px;
    width:662px;
  }
  .header .wrapper, .footer .wrapper{
    width:662px;
  }
  .nav_thumb{
    background-size: 211px 211px;
  	width:211px;
  	height:211px;
  }
  #thumb1 .nav_thumb{
    background-image:url(images/thumb_mma_tablet.jpg);
  }
  #thumb2 .nav_thumb{
    background-image:url(images/thumb_mobile101_tablet.jpg);
  }
  #thumb3 .nav_thumb{
    background-image:url(images/thumb_thirddegree_tablet.jpg);
  }
  #thumb4 .nav_thumb{
    background-image:url(images/thumb_christina_tablet.jpg);
  }
  #thumb5 .nav_thumb{
    background-image:url(images/thumb_geopolis_tablet.jpg);
  }
  #thumb6 .nav_thumb{
    background-image:url(images/thumb_puttaroo_tablet.jpg);
  }
  .photo #thumb1 .nav_thumb{
    background-image:url(images/thumb_pic_engage_tablet.jpg);
  }
  .photo #thumb2 .nav_thumb{
    background-image:url(images/thumb_pic_live_tablet.jpg);
  }
  .photo #thumb3 .nav_thumb{
    background-image:url(images/thumb_pic_product_tablet.jpg);
  }
  .photo #thumb4 .nav_thumb{
    background-image:url(images/thumb_pic_old_dogs_tablet.jpg);
  }
  .photo #thumb5 .nav_thumb{
    background-image:url(images/thumb_pic_life_of_coupon_tablet.jpg);
  }
  .nav_thumb:hover .icon_container .icon, .nav_thumb:active .icon_container .icon{
    margin:0 7px;
  }
  .desc{
  	float:none;
    width:662px;
  	margin:15px auto 0 0;
  }
  .desktop, .mobile{
    display:none;
  }
  .tablet_mobile, .desktop_tablet{
    display:block;
  }
  .showcase{
  	float:none;
  	width:662px;
  	margin:15px auto 30px;
  }
  .phone_bg{
    background-image: url(images/phone_bg@2x.png);
  }
  .footer{
    min-width: 768px;
  }
  .form_container{
    width:386px;
    float:right;
  }
  @keyframes icon_appear{
    0%{
  		opacity:0;
      padding-top:0;
      height:211px;
  	}
  	100%{
  		opacity:1;
      padding-top:74px;
      height:137px;
  	}
  }
  @-webkit-keyframes icon_appear{
    0%{
  		opacity:0;
      padding-top:0;
      height:211px;
  	}
  	100%{
  		opacity:1;
      padding-top:74px;
      height:137px;
  	}
  }
}

@media only screen and (max-width: 767px){
  .desktop, .desktop_tablet{
    display:none;
  }
  .mobile, .tablet_mobile{
    display:block;
  }
  h1{
    margin:40px 0 20px;
  }
  .header{
  	min-width:306px;
    display: inline-table;
  	height:auto;
    padding:0 0 12px;
  }
  .content{
    min-width: 306px;
  }
  .mobile_menu{
    width:100%;
  }
  .mobile_menu_icon{
    background-image: url(images/menu@2x.png);
    background-size: 20px 15px;
    width:20px;
    height:15px;
    float:right;
    margin:24px 0 0;
    cursor: pointer;
  }
  .b2_logo{
  	background-size: 25px 39px;
  	width: 25px;
  	height: 39px;
  	margin: 12px 0 0;
  }
  .header ul{
  	font-family: 'Montserrat', sans-serif;
  	font-weight:400;
  	color:#acacac;
  	font-size:14px;
  	margin:15px 0 0;
  	padding:0;
  	text-transform:uppercase;
  	float:right;
    width:100%;
  }
  .header ul li{
  	margin:0;
  	display:block;
    width:306px;
  }
  .header ul li a{
  	color:#35617b;
  	text-decoration:none;
    padding:10px 5px;
    width:296px;
    display:block;
  }
  .header ul li a:hover, .header ul li a:active{
    background-color:#f1f1f1;
    cursor: pointer;
  }
  .header ul li span a{
  	color:#acacac;
  }
  .wrapper{
  	width:320px;
  }
  .content .wrapper{
    width:306px;
  }
  .header .wrapper, .footer .wrapper{
    width:306px;
  }
  #grid h1{
    margin-left: 7px;
  }
  .nav_thumb{
  	background-size: 146px 146px;
  	width:146px;
  	height:146px;
  	margin:0 7px 14px;
  }
  #profile .profile_pic{
    background-size: 100px 100px;
  	width:100px;
  	height:100px;
    border-radius:50px;
    margin-bottom: 15px;
  }
  .desc{
  	float:none;
    width:306px;
  	margin:15px 0 0;
  }
  .showcase{
  	float:none;
  	width:306px;
  	margin:15px 0 30px;
  }
  .placeholder{
  	width:306px;
  	margin:0 auto;
  }
  .showcase img{
    width:306px;
    margin:0 auto 10px;
  }
  .site{
    border-radius: 2px 1px;
  }
  .video{
    width:306px;
    height:172px;
    margin:0 auto;
  }
  .runtime{
    font-style: italic;
    font-size:10px;
  }
  .phone_bg img{
    width:265px;
    height:471px;
    top:76px!important;
    left:22px!important;
  }
  .phone_bg{
    width:265px;
    height:471px;
    padding:76px 22px;
    background-image: url(images/phone_bg_mobile.png);
    background-size: 306px 623px;
  }
  .showcase .cards img{
    width:306px;
    float:left;
    margin:0 0 20px;
  }
  .footer{
    min-width: 306px;
    overflow:auto;
  }
  .form_container{
    width:306px;
    float:right;
  }
  label{
    color:#000;
    font-size:12px;
    display:block;
    margin:25px 0 5px;
  }
  input[type=text]{
    background-color: #557a8c;
    border:none;
    width:296px;
    height:33px;
    padding:5px;
    border-radius:3px;
    display:block;
    font-size:16px;
    font-family:'forolight', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .name_input{
    float:left;
  }
  .name_input input[type=text]{
    width:136px;
  }
  textarea{
    width:296px;
    max-width:296px;
  }
  .mobile_gradient{
    background: linear-gradient(top, rgba(53,97,123,0) 40%, rgba(53,97,123,.9));
    background: -webkit-linear-gradient(top, rgba(53,97,123,0) 40%, rgba(53,97,123,.9));
    background: -o-linear-gradient(top, rgba(53,97,123,0) 40%, rgba(53,97,123,.9));
    background: -moz-linear-gradient(top, rgba(53,97,123,0) 40%, rgba(53,97,123,.9));
  }
  .nav_thumb{
    position: relative;
  }
  .nav_thumb .icon_container{
    display:block;
    position:absolute;
    bottom:10px;
    width:100%;
    text-align: center;
  }
  .nav_thumb:hover .icon_container, .nav_thumb:active .icon_container{
  	background-color:transparent;
  	animation:none;
    -moz-animation:none; /* Firefox */
    -webkit-animation:none; /* Safari and Chrome */
    -o-animation:none; /* Opera */
  }
  .nav_thumb:hover .icon_container .icon, .nav_thumb:active .icon_container .icon, .icon{
  	background-repeat:no-repeat;
    background-size:20px 20px;
    width:20px;
    height:20px;
    margin:0 5px;
    display: inline-block;
  }
  .icon_text{
    display:none;
  }

}

@media (min-width: 768px) {
  .mobile_menu {
    display: none;
  }
}
